.login-page{

    text-align: center;
    height: 100vh;

 
    display: flex;


    video{
        top:0;
        left: 0;
        position: fixed;
        // height: 100vh;
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
    .focus-page{
        vertical-align: baseline;
        padding: 20px 50px ;
        width: 30%;
      
        background-color: white;
        opacity: 0.9;

        .logo-bk{
            width: 25%;
            margin-bottom: 10px;
        }
    }
}