.list-category{
    background-color: white;
    padding: 10px;
    .tag-action{
        cursor: pointer;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        -o-user-select: none;
        user-select: none;
    }

    .add-btn{
    //    width: 95%;
        margin-bottom: 20px;
    
    }

    .add-category-page{
        .img-upload{
            width: 100%;
            border: 1px dotted gray;
            background-color: red;
            text-align: center;
            
        }
    }

    .list-category-table{
        .item-image{
            max-height: 100px;
            max-width: 100px;
        }
    }

    
    
}