@import 'antd/dist/antd.css';
// body {
//   margin: 0;
//   font-family:  -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial,
//   'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
//   'Noto Color Emoji';
//   -webkit-font-smoothing: antialiased;
//   -moz-osx-font-smoothing: grayscale;
// }

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


$header-background-color: #FFFFFF;
$sider-background-color: #FFFFFF;
$title-header-color: #088178;
$color-hover: #0c5e58;
$font-size-header: 20px;


//admin--------------------------------------------------
@import './styles/admin/login_page.scss';
@import './styles/admin/home.scss';
@import './styles/admin/category/list_cateogry.scss';
@import './styles/admin/category/add_category.scss';

//product
@import './styles/admin/product/list_product.scss';
@import './styles/admin/product/product_detail.scss';
@import './styles/admin/comment/comment_on_product.scss';
@import './styles/admin/product/new_product.scss';

//order
@import './styles/admin/order/order-page.scss';
@import './styles/admin/order/detail-order.scss';


//public------------------------------------------------

//common_ui
@import './styles/public/header_section.scss';
@import './styles/public/home_page.scss';
@import './styles/public/menu-section.scss';
@import './styles/public/carousel_section.scss';
@import './styles/public/footer_section.scss';

@import './styles/public/all_product.scss';

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;

}